<a href="https://colab.research.google.com/github/KIMJIYOON-PYTHON/py12/blob/master/ch8_exercises_py12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [0]:
# [Q1] Code-1 

a="a:b:c:d"
b=a.split(":")
b
c="#".join(b)
c

'a#b#c#d'

In [0]:
# [Q1] Code-2
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [0]:
# [Q1] Code-2
a = "a:b:c:d"
a.split(":")
b="#"
b.join(a.split(":"))

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [0]:
# [Q2] Code-1

a={'A':90,'B':80}
a.get('C',70)

70

In [0]:
# [Q2] Code-2

a['C'] if 'C' in a else 70

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [0]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a=[1,2,3]
id(a) 

# id 함수는 입력으로 받은 리스트 a의 주소 값을 돌려 준다. 
# 현재 a라는 리스트는 139986743465800이라는 주소에 저장되어 있다.

139986743465800

In [0]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a=a+[4,5]
a

id(a)


# 이전에 리스트 a가 저장되어 있던 주소와 다른 값을 돌려주는 것을 확인할 수 있다.
# 주소 값이 다르기 때문에 +를 사용하면 리스트 a의 값이 변하는 것이 아니라 
# 두 리스트가 더해진 새로운 리스트가 반환된다는 것을 확인할 수 있다.

139986743033352

In [0]:
a = [1, 2, 3]
id(a)

139986743159048

In [0]:
a.extend([4, 5]) #리스트 a에 extend를 사용하여 [4, 5]라는 리스트를 더해 주었다
a

[1, 2, 3, 4, 5]

In [0]:
id(a) # + 기호를 사용하여 더한 경우와는 달리 주소 값이 변하지 않고 그대로 유지되는 것을 확인할 수 있다.

139986743159048

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [0]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
while A:                
    mark = A.pop()      
    if mark >= 50:      
        result += mark

print(result)

481

In [0]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
for i in A:
  if i >= 50:
      result += i
print("50점 이상 점수를 터특한 학생들의 총합은 : %d"  %result )

50점 이상 점수를 터특한 학생들의 총합은 : 481

In [0]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum(a for a in A if a>=50)

481

In [0]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
num = -1
sum = 0
while num < 9:
	num += 1
	if A[num] < 50: continue
	sum = sum + A[num]
print(sum)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [0]:
# [Q5] Code-1

def fib(n):
    if n == 0 : return 0          
    if n == 1 : return 1          
    return fib(n-2) + fib(n-1)    

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [0]:
def fib(n):
    list=[0,1]
    i=0
    for i in range(2,n):
        list.append(list[i-2]+list[i-1])
    print(list)
    return ''
n=int(input("정수 n값을 입력하시오."))
print(fib(n))

정수 n값을 입력하시오.10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [0]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [0]:
# [Q6] Code-2
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")
input3 = input("세번째 숫자를 입력하세요:")
input4 = input("네번째 숫자를 입력하세요:")
input5 = input("다섯번째 숫자를 입력하세요:")
input6 = input("여섯번째 숫자를 입력하세요:")

total = int(input1) + int(input2)+ int(input3) + int(input4) + int(input5) + int(input6)

print("여섯 개의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:65
두번째 숫자를 입력하세요:45
세번째 숫자를 입력하세요:2
네번째 숫자를 입력하세요:3
다섯번째 숫자를 입력하세요:45
여섯번째 숫자를 입력하세요:8
여섯 개의 합은 168 입니다

In [0]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))
input3 = int(input("세번째 숫자를 입력하세요:"))
input4 = int(input("네번째 숫자를 입력하세요:"))
input5 = int(input("다섯번째 숫자를 입력하세요:"))
input6 = int(input("여섯번째 숫자를 입력하세요:"))

total =input1 + input2+ input3 + input4 + input5 + input6

print("여섯 개의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:65
두번째 숫자를 입력하세요:45
세번째 숫자를 입력하세요:2
네번째 숫자를 입력하세요:3
다섯번째 숫자를 입력하세요:45
여섯번째 숫자를 입력하세요:8
여섯 개의 합은 168 입니다

In [0]:

input1,input2,input3,input4,input5,input6 = map(int,input("여섯개의 숫자를 입력하세요 :").split())


print('입력하신 숫자는:',input1,input2,input3,input4,input5,input6)
print('여섯 수자의 합은:',input1+input2+input3+input4+input5+input6)

여섯개의 숫자를 입력하세요 :65 45 2 3 45 8
입력하신 숫자는: 65 45 2 3 45 8
여섯 수자의 합은: 168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [0]:
# [Q7] Code-1

user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)      
for i in range(1, 10):
    print(i*dan, end= ' ')

구구단을 출력할 숫자를 입력하세요(2~9):4
4 8 12 16 20 24 28 32 36

In [0]:
# [Q7] Code-2
while True:
    number = int(input("숫자를 입력하시오"))
    for i in range(1,10):
        print (number, "X", i, "=", number*i)
    break

숫자를 입력하시오9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [0]:
number=int(input("숫자를 입력하세요:"))

while number<1 or number>9:
  number=int(input("1~9단까지 출력 가능합니다. 다시 입력해주세요:"))

for x in range(1,10):
  print(number,"x",x,"=", number*x)

숫자를 입력하세요:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [0]:
# [Q8] Code-1

f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬


f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [0]:
# [Q8] Code-2
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.sort()    
lines.reverse()    

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [0]:
b = open("abc1.txt","w")
b.write("AAA")
b.write("\n")
b.write("BBB")
b.write("\n")
b.write("CCC")
b.write("\n")
b.write("DDD")
b.write("\n")
b.write("EEE")
b.write("\n")
b.close()

b = open("abc1.txt","r")
lines = b.readlines()    # 모든 라인을 읽음

lines.reverse()

b = open('abc1.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    b.write(line)
    b.write('\n')        # 줄 바꿈 문자 삽입
b.close()

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [0]:
# [Q9] Code-1

f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))
f.close()

In [0]:
f=open('sample.txt' , 'r')
lines=f.readlines()
f.close()
result=0
for score in lines:
  result+=int(score)

f=open('result.txt','w')
f.write(str(result/len(lines)))
f.close()

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [0]:
# [Q10] Code-1

class Calculator:
    def __init__ (self, numberList): 
        self.numberList = numberList

    def add(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.add()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0

In [0]:
# [Q10] Code-2
class Calculator:
    def __init__(self,value):
        self.value = value
 
    def add(self):
        result = 0
        for num in self.value: 
            result += num
        return result

class UpgradeCalculator(Calculator):#Calculator를 상속받음
    def avg(self):
        total = self.add()
        return total / len(self.value)

cal1 = UpgradeCalculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2=UpgradeCalculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [0]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [0]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [0]:
# [Q11] Code-1 sys 모듈 사용하기

#다음과 같이 sys.path 에 C:\doit 이라는 디렉터리를 추가하면
# C:\doit 이라는 디렉터리에 있는 mymod 모듈을 사용할 수 있게 된다.

import sys
sys.path.append("c:/doit")
import mymod

In [0]:
# [Q11] Code-2 PYTHONPATH 환경 변수 사용하기

#다음처럼 PYTHONPATH 환경 변수에 C:\doit 디렉터리를 지정하면 
#C:\doit 디렉터리에 있는 mymod 모듈을 사용할 수 있게 된다

C:\Users\home>set PYTHONPATH=c:\doit
C:\Users\home>python
import mymod

In [0]:
# 현재 디렉터리 사용하기
#파이썬 셸을 mymod.py가 있는 위치로 이동하여 실행해도 mymod 모듈을 사용할 수 있게 된다.
# 왜냐하면 sys.path 에는 현재 디렉터리인 . 이 항상 포함되어 있기 때문이다.

C:\Users\home>cd c:\doit
C:\doit>python
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [0]:
# [Q12] Explain (코드와 주석으로 설명하시오)

result = 0
 
try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4
 
print(result)


# result의 초깃값은 0이다.
#try문 안의 [1, 2, 3][3] 이라는 문장 수행 시 IndexError가 발생하여 except IndexError: 구문으로 이동하게 되어 result에 3이 더해져 3이 된다.
#최종적으로 finally 구문이 실행되어 result에 4가 더해져 7이 된다.
#print(result)가 수행되어 result의 최종 값인 7이 출력된다.

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [0]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [0]:
# [Q13] Code-2

def dhin(num):
    result=list(num)
    result.append('0')
    odd=['1','3','5','7','9','-1','-3','-5','-7','-9']
    even=['2','4','6','8','*2','*4','*6','*8']
    m=0
    for i in result:
        m=m+1
        if i != result[len(result)-1]:
            if i in even and result[m] in even:
                result[m]='*'+result[m]
            if i in odd and result[m] in odd:
                result[m]='-'+result[m]
            else:
                pass
    result.pop(-1)
    for u in result:
        result1=print(u,end='')
    return result1
print(dhin("4546793"))

454*67-9-3None

In [0]:
in_str = input("Enter numbers: ") # 입력이 4546793 이면 in_str = '4546793'

result = in_str[0]
for a,b in zip(in_str[0:], in_str[1:]): # zip()으로 묶인 튜플은 ('4','5'),('5','4'),('4','6'),('6','7'),('7','9'),('9','3')
    if int(a)%2 == 0 and int(b)%2 == 0:
        result += '*' + b
    elif int(a)%2 == 1 and int(b)%2 == 1:
        result += '-' + b
    else:
        result += b

print(result)

Enter numbers: 4546793
454*67-9-3

In [0]:
i = list(map(int,' '.join(input()).split()))
answer = [str(i[0])]
for x in range(len(i)-1):
    if i[x]%2==0 and i[x+1]%2==0:
        answer.append('*')
    if i[x]%2==1 and i[x+1]%2==1:
        answer.append('-')
    answer.append(str(i[x+1]))
print(''.join(answer))

4546793
454*67-9-3

In [0]:
a="4546793"
b=[]

for i in range(0,len(a)-1):
    if (int(a[i])%2==0 and int(a[i+1])%2==0) : #짝수연속
        b.append(a[i]+"*")


    elif (int(a[i])%2==1 and int(a[i+1])%2==1) : #홀수연속
        b.append(a[i]+"-")

    else :
        b.append(a[i])

print("".join(b)+a[len(a)-1])

454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [0]:
# [Q14] Code-1

def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print (compress_string("aaabbcccccca"))  # a3b2c6a1 출력

a3b2c6a1

In [0]:
# [Q14] Code-2
s=input('압축할 문자열 : ')
k=0
while s[k:]!='':
    if k+1>=len(s):
        break
    if s[k]!=s[k+1]:
        s=s[:k+1]+'/'+s[k+1:]
        k+=2
    else:
        k+=1
s=s.split('/')

converted=''
for k in range(len(s)):
    converted+=s[k][0]+str(len(s[k]))
print(converted)

압축할 문자열 : abcabcabc
a1b1c1a1b1c1a1b1c1

In [0]:
a=list("abcdefg")
a_length=len(a)
b=[]
stk=1
while 1 :
    if a_length > 1 :
        if a[0] == a[1] : 
            a.remove(a[0])
            stk+=1
            a_length-=1
            continue
        elif a[0] != a[1] : 
            b=b+[a[0]]+["%d"%stk]
            a.remove(a[0])
            stk=1
            a_length-=1
            continue
    b=b+[a[0]]+["%d"%stk]
    break
for i in b:
    print(i,end="")

a1b1c1d1e1f1g1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [0]:
# [Q15] Code-1

def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

In [0]:
# [Q15] Code-2
def sample_inputs(str_a):
    list_a=str_a.split()
    for i in list_a :
        if list("".join(i)).count("0") == 1:
            if eval("+".join(i))==45:
                print("True")
            else :
                print("False!")
        else :
            print("False!")

sample_inputs("0123456789 01234 01234567890 6789012345 012322456789")

True
False!
False!
True
False!

In [0]:
def check_one_number(num):
    for i in range(10):
        if num.count(str(i)) != 1:
            print("False")
            return

    print("True")

check_one_number('6789012345')
check_one_number('01234')
check_one_number('0123456789 ')
check_one_number('01234567890 ')
check_one_number('012322456789')

True
False
True
False
False

In [0]:
exStr = input("0~9로 이루어진 숫자를 입력하세요 : ")
settedStr = set(exStr)

if len(exStr) == len(settedStr) :
        print('중복미존재')
else :
        print('중복존재')

0~9로 이루어진 숫자를 입력하세요 : 123456
중복미존재

In [0]:
print (list(map(lambda n:len(set(n))==10 and len(n) ==10 ,"0123456789 01234 01234567890 6789012345 012322456789".split())))

[True, False, False, True, False]

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [0]:
# [Q16] Code-1

dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [0]:
# [Q16] Code-2
dic={'':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X','-.--':'Y','--..':'Z'}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(dic[i],end="")

HE SLEEPS EARLY

In [0]:
dic = {'.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V', '.--':'W','-..-':'X','-.--':'Y','--..':'Z'}

def decipher(morse):
    ans = ""
    sent = morse.split(" ")
    for c in sent:
        if c != '':
            ans += dic[c]
        else :
            ans += " "
    return ans

morse = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'

print (decipher(morse))

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [0]:
# [Q17] Code
import re

p = re.compile("a[.]{3,}b")

print (p.match("acccb"))    # None
print (p.match("a....b"))   # 매치 객체 출력
print (p.match("aaab"))     # None
print (p.match("a.cccb"))   # None

None
<_sre.SRE_Match object; span=(0, 6), match='a....b'>
None
None

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [0]:
# [Q18] Code

import re

p = re.compile('[a-z]+')
m = p.search("5 python")
print(m.start() + m.end())  # 10 출력

10

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [0]:
# [Q19] Code

pat = re.compile("\d{3}[-]\d{4}[-]\d{4}")
pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")

import re

s = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
result = pat.sub("\g<1>-####", s)

print(result)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [0]:
# [Q20] Code

pat = re.compile(".*[@].*[.](?=com$|net$).*$")

In [0]:
import re

pat = re.compile(".*[@].*[.](?=com$|net$).*$")

print(pat.match("pahkey@gmail.com"))
print(pat.match("kim@daum.net"))
print(pat.match("lee@myhome.co.kr"))

<_sre.SRE_Match object; span=(0, 16), match='pahkey@gmail.com'>
<_sre.SRE_Match object; span=(0, 12), match='kim@daum.net'>
None

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb