<a href="https://colab.research.google.com/github/KIMJIYOON-PYTHON/py12/blob/master/py12_exam_mid_class_hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간필기시험: 파이썬 활용 (2019.10.21)
- 문제에 배점이 표시되어 있음. (기본 배점은 1, 총 30점)

***

### # [1] 다음 식의 연산 결과는?

```
a = 3
b = 4
a**b  
```

문제 1번 

: ***은 제곱근은 나타낸다. 즉 3 * 4 는 3의 4제곱을 뜻하므로 3의 4승 81이 된다.

In [1]:
a=3
b=4
a**b

81

### # [2] 다음 문자열 a의 길이는?


```
a = "Life is too short!"

len(a)
```

len은 문자열 길이를 구하는 함수이다. 공백 역시 문자열 취급을 해줘야 한다. 그래서 총 18글자이다.

In [0]:
a = "Life is too short!"

len(a)

18



---

### # [3-4] 다음 문자열 a 에 대하여 인덱싱과 슬라이싱을 한 결괴는? 


```
a = "Life is too short, You need Python!"

print(a[-12])   # 문제[3]

# 

a[19:-8]       # 문제[4] 

```

In [0]:
a = "Life is too short, You need Python!"

print(a[-12])   # 문제[3]

# 

a[19:-8]       # 문제[4]

n

'You need'

문제 3번 

: 문자열을 뒤에서부터 읽기 위해 마이너스 기호를 붙인다
  즉 a[-12]은 뒤에서 12번째 문자를 읽으라는 것이다. 즉 n이다 (공백도 문자열 취급해서 포함)
  
: 슬라이싱 기법으로 일반적으로 생각하면 처음에서 19번째 문자에서 뒤에서 8번째 문자를 읽을거라 생각하지만
  하지만 끝 번호에 해당하는 것은 포함하지 않는다 즉 [19<=a<-9]수식으로 나온다. 그래서 19번째 문자인 Y와 -9번째 문자인 d해서 'You need'가 출력된다.



---

### # [5] 다음의 결과가 출력되지 않는 것은?

'I ate 10 apples. so I was sick for three days.'


```
# code start
number = 10
day = "three"

'''
A. "I ate {0} apples. so I was sick for {1} days.".format(10, day)
B. f"I ate {number} apples. so I was sick for {day} days."
C. "I ate {number} apples. so I was sick for {three} days."
D. "I ate {0} apples. so I was sick for {1} days.".format(number, day)
'''

```

문제 5번 

  정답은 c

In [12]:
# code start
number = 10
day = "three"


print("I ate {0} apples. so I was sick for {1} days.".format(10, day))
print(f"I ate {number} apples. so I was sick for {day} days.")
print("I ate {number} apples. so I was sick for {three} days.")
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

#print("I ate {0} apples. so I was sick for {1} days.".format(number=5, day))

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.
I ate {number} apples. so I was sick for {three} days.
I ate 10 apples. so I was sick for three days.



---

### # [6] format 함수 또는 f 문자열 포매팅을 이용해서 '!!python!!' 문자열을 출력해보시오.

```



```

In [0]:
"{0:!^10}".format("python")

'!!python!!'

In [0]:
f'{"python":!^10}'

'!!python!!'



---

### # [7] 다음 list a의 인덱싱 결과는?

```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][0]

```


문제 7번 

삼중 리스트에서 인덱싱하기 
리스트 a의 네 번째 요소인 리스트인 ['a', 'b', ['My', 'Life', 'Good ] ] 에서 맨 마지막 요소 리스트인 ['My', 'Life', 'Good ] 중 첫 번째 리스트인 My 가 인덱싱 결과가 출력된다.

In [0]:
#@title 기본 제목 텍스트
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][0]

'My'



---

### # [8] 다음 list x의 슬라이싱 결과는?


```
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

x[-6:1:-1]

```

In [13]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

x[-6:1:-1]

[4, 3]



---

### # [9] 다음 list x에 함수 count의 적용 결과는?


```
a = [1, 2, 's', 't']
x = a*3

x.count("s")

```

문제 9번


:리스트 연산에서 * 은 리스트 반복하는 것이다.

그래서 x는 리스트 a를 3번 반복 하는 것이라

[1,2,'s','t',1,2,'s','t',1,2,'s','t'] 이고

count는 문자 갯수 세는 함수이다 즉 s의 갯수를 출력하라는 것인데 x를 3번 반복 했기 때문에 s는 3이다.

In [0]:
a = [1, 2, 's', 't']
x = a*3

x.count("s")

3



---

### # [10] 다음 tuple t1의 슬라이싱 결과는?



```
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

```

문제 10번 

: 튜플 문제이다.
  [3:-1]은 수식으로 나타내면 3<=t1<-1이다.
  그래서 't' 만 출력 되는데 튜플에서는 1개의 요소만을 가질 때는 콤마를 반드시 붙여아 한다. 
  
  그래서 결과는 ('t',)

In [0]:
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

('t',)



---

### # [11] 다음 set s1의 최종 출력 결과는?

```
s1 = set([1, 2, 3])
s1.update([2, 4, 6])

s1.add(3)

s1  # 출력 결과?
```


문제 11번 

s1 집합 자료형 1,2,3이 있다.
update는 여러 개 값을 추가할 때 사용한다 즉

s1은 {1,2,3,4,6} 이 된다 

집합 자료형에서는 중복은 허용 되지 않는다는 조건을 기억해야한다

그 후 add라는 함수가 있는데 이것은 값 1개를 추가 할 때 사용한다
또한 집합 자료형은 중복은 허용 되지 조건을 기억한다면

최정 출력 결과는 {1,2,3,4,6}이다.

In [0]:
s1 = set([1, 2, 3])
s1.update([2, 4, 6])

s1.add(3)

s1

{1, 2, 3, 4, 6}



---

### # [12] 다음 bool 값 출력 중 정확한 것은?

bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))


```
'''
A. (True, True, True, True)
B. (False, False, False, False)
C. (True, True, False, True)
D. (True, False, False, True)
'''

```


문제 12번


A,B의 값에  리스트가 있기 때문에 True
C의 값에 숫자형 0이 들어있기 때문에 False 
D의 값에 튜플 값이 있기 때문에 True

(0,) 처럼 한 개의 요소만을 가질 때 콤마를 반드시 붙여야 한다.

In [0]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)



---

### # [13-2점] 다음 조건문을 1줄 코드로 변경하시오.  

```
score=80

if score >= 70:
    message = "success"
else:
    message = "failure"

print(message)

```

> 출력 결과 :  success

In [14]:
# [13-2점] 1줄 조건문
score=80

message = "success" if score >= 70 else "failure"


print(message)

success



---

### # [14-2점] 다음 커피자판기가 실행 결과와 같이 제대로 실행되도록 A, B 에 코드를 완성하시오. 
> coffee.py


```

coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % A._____________)
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if B._______________:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break
```
> 실행 결과 :  
```
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

```

A = (money-300)
B = coffee == 0

In [16]:
coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

KeyboardInterrupt: ignored



---

### # [15-2점] 다음 for-loop의 출력 결과는?

```

games = ["축구", "야구", "농구"]

# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
    
    
```

> 출력 결과 ?

In [0]:
games = ["축구", "야구", "농구"]

# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

0 축구,1 야구,2 농구,



---

### # [16-2점] 다음 dictionary를 이용하여 평균 점수를 계산하는 코드를 완성하시오.

```


scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum([16]_____________________)/len(scores)))


    
```

In [0]:
scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores)))

평균점수는70.0점입니다



---

### # [17-2점] ['Life', 'is', 'too', 'short.'] 리스트를 Life is too short. 문자열로 만들어 출력하는 코드를 완성하시오.
> join 함수를 이용하시오.

```

words = ['Life', 'is', 'too', 'short']


words = ______________________________


print(words)

    
```


문제 17번


문자열 삽입 할 때는 join 함수 사용한다

In [0]:

words = ['Life', 'is', 'too', 'short']


words = ' '.join(words)


print(words)

Life is too short

In [0]:

words = ['Life', 'is', 'too', 'short']


words = ' '.join(['Life', 'is', 'too', 'short'])


print(words)

Life is too short



---



---

### # [18-2점] a 리스트에서 중복 숫자를 제거해서 출력하는 다음 코드를 완성하시오.



```

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = A.________________


a = B.________________


print(a)



```


  
> 출력 결과 : [1, 2, 3, 4, 5]


정답 A : set(a)
     B : list(a)

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = set(a)

a = list(a)


print(a)

[1, 2, 3, 4, 5]




---



---

### # [19-2점] 다음 코드의 결과값은 무엇일까?



```

a = "Life is too short, you need python"


if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" in a: print("shirt")

elif "you" in a: print("you")

else: print("none")




```
  
  
  
> 출력 결과 ?

In [0]:
a = "Life is too short, you need python"


if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" in a: print("shirt")

elif "you" in a: print("you")

else: print("none")

you



---



---

### # [20-2점] for문 사용해 1부터 1000까지의 자연수 중 5의 배수의 합을 구하는 전체 코드를 작성하시오.

> 결과(5의 배수의 합)까지 출력하는 코드는 4줄 이하로 작성하시오.
>> 최소한의 줄로 만든 코드는 bonus 점수를 부여함.



```
___________________________________________________________

___________________________________________________________

___________________________________________________________

___________________________________________________________


```

In [25]:
# code -3 : 1 line

sum([n for n in range(1,1001) if n % 5 ==0 ])

100500

In [24]:
# code-2 : 2 line

num5 = [n for n in range(1,1001) if n % 5 ==0 ]
print(sum(num5))

100500

In [21]:
result = 0
for a in range(1,1001):
  if a%5==0 : result += a 
print("5의 배수의 합 = ",result)

5의 배수의 합 =  100500

In [26]:
a=b=0
for a in range(1,1001):
  if a%5==0 : b=b+a
print("5의 배수의 합= {0}".format(b))

5의 배수의 합= 100500



---

### # [21-2점] 1부터 1000까지의 자연수 중 5의 배수를 전부 포함하는 list를 list 내포로 만드시오.

> 한 줄 코드로 완성하시오.


```


______________________________________________________________________



```

In [0]:
[i for i in range(1,1001) if i%5==0 ]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000]



---

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 10월 28일(월) 오후 4시.

### 업로드 파일명: pynn_exam_mid.ipynb  (pynn은 id)